In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from bokeh.plotting import figure, output_file, output_notebook, show, ColumnDataSource
from bokeh.models.tools import HoverTool
from bokeh.transform import factor_cmap
from bokeh.palettes import Blues8
from bokeh.palettes import Inferno256
from bokeh.layouts import row, gridplot

In [2]:
# Read in the Data
top_200_df = pd.read_csv('top_200_alltime.csv')

top_200_df = top_200_df[['Title', 'Rank', 'Lifetime Gross', 'Overall Rank',
       'Year']]

In [3]:
top_200_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           200 non-null    object
 1   Rank            200 non-null    int64
 2   Lifetime Gross  200 non-null    int64
 3   Overall Rank    200 non-null    int64
 4   Year            200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [4]:
# top 200
Titles = top_200_df['Title'].tolist()
source = ColumnDataSource(top_200_df.copy())

# top 20
top_20_df = top_200_df[0:20]
source20 = ColumnDataSource(top_20_df.copy())
Titles20 = top_200_df['Title'].tolist()[0:20]

In [5]:
# Create a Layout
# p1 = figure(y_range = Titles, x_axis_label = 'Lifetime Gross')
p1 = figure(y_range = Titles, x_axis_label = 'Lifetime Gross')
p1.hbar(y='Title', right='Lifetime Gross', left=0, height=0.1, fill_alpha = 0.8, source=source)

p2 = figure(y_range = Titles20, x_axis_label = 'Lifetime Gross')
p2.hbar(y='Title', right='Lifetime Gross', left=0, height=0.5, fill_alpha = 0.8, source=source20)

# show(p1)
# show(p2)
show(gridplot([[p1], [p2]]))

In [6]:
top_200_df.head()

,Title,Rank,Lifetime Gross,Overall Rank,Year
0,Star Wars: Episode VII - The Force Awakens,1,936662225,1,2015
1,Avengers: Endgame,2,858373000,2,2019
2,Spider-Man: No Way Home,3,814115070,3,2021
3,Avatar,4,785221649,4,2009
4,Top Gun: Maverick,5,718732821,5,2022

In [ ]:
# p1 = figure(y_range = Titles, x_axis_label = 'Lifetime Gross')
# # p1.y_range.flipped = True
# p1.hbar(y='Title', right='Lifetime Gross', left=0, height=0.1, 
#         # fill_color = factor_cmap(
#         #     'Rank',
#         #     palette = Inferno256,
#         #     factors = Rank
#         # ),
#         fill_alpha = 0.8,
#         source=source)
# # p1.y_range.flipped = True

# show(p1)

In [8]:
# df = top_200_df[0:20]
# source20 = ColumnDataSource(df.copy())
# Titles20 = top_200_df['Title'].tolist()[0:20]

# p2 = figure(y_range = Titles20, x_axis_label = 'Lifetime Gross')
# # p1.y_range.flipped = True
# p2.hbar(y='Title', right='Lifetime Gross', left=0, height=0.5, 
#         # fill_color = factor_cmap(
#         #     'Rank',
#         #     palette = Inferno256,
#         #     factors = Rank
#         # ),
#         fill_alpha = 0.8,
#         source=source20)
# # p1.y_range.flipped = True

# show(p2)